target
.idea
*.log
*.jar
.settings
.project
.classpath
*.class
*.orig
*.bak
*.old
*.ear
*.LOCAL
*.REMOTE
.metadata
*~
build.out
build.err
rebel.xml
rebel-remote.xml
*.iml
*.ipr
*.iws
.idea
*.db
deploy2Remote.bat

node_modules*/

tmp/
errTmp/
app/tmp/
app/download/

